html,
body {
  margin: 0;
  padding: 0;
}

body {
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto" "Narrow" Arial;
	color: #ffffff;
	font-weight: normal;
	background-color:  #849d8f;
}


.wrapped {
  padding-top: 10px;
  padding-bottom: 30px;
  min-width: 1200px;
}

.contain {
	padding: 0 27px;
	width: 1146px;
  margin: 0 auto;
}

.top_in_line{
}

.top_pic_logo{
  float: left;
  width: 154px;
}

.top_menu{
  float: left;
  margin-left: 17px;
  max-width: 650px;
}

.nav_menu,
.user_menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menu li{
  display: inline-block;
  margin-right: 5px;
}

.user_menu li{
  display: inline-block;
  margin-right: 12px;
}

.top_user_block{
	float:  right;
	width:  267px;
}

.work_time{
  float: right;
  min-height: 40px;
  text-align: right;
}

.vidget_text{
  margin-bottom: 40px;
  padding-top: 270px;
  text-align: center;
}

.widget_nav{
  bottom: 23px;
  left: 0;
}

.bannered{
  margin-bottom: 20px;
}

.banner{
  padding: 20px;
  width: 520px;
  border-radius: 15px;
}

.b_left{
  float: left;
  background-color: #60031c;
}

.b_right{
  float: right;
  background-color: #0c0300;
}

.b_news{
  float: left;
  background-color: #ffffff;
  color: black;
  padding-top: 23px;
}

.b_send{
  float: right;
  background-color: #ffffff;
  color: black;
}

.gallery{
  margin-bottom: 38px;
}

.gallery_item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 5px 0;
  width: 267px;
}

.gallery_item:nth-child(4n){
  margin-right: 0;
  padding-right: 0;
}

.glacy_shop{
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 24px;
}

.glacy_shop_item{
    float: left;
    box-sizing: border-box;
    margin: 0 0 23px;
    padding-left: 58px;
    padding-right: 15px;
    width: 50%;
}

.glacy_shop_item:nth-child(2n) {
    padding-left: 52px;
}


.gallery_desc{
  margin-top: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.map{
  margin-top: 40px;
  height: 430px;
  background: url(../img/map.jpg);
}

.footer_info{
  padding-top: 35px;
} 

.footer_social{
  float: left;
  width: 380px;
  margin: 0 16px 0 0;
}

.footer_contacts{
  float: left;
  padding-top: 5px;
  width: 420px;
}

.footer_cr{
  float: right;
  padding-top: 30px;
  min-width: 190px;
}

/*=========*/

.crumbs{
  
}




.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

