html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto" "Narrow" Arial;
  color: #ffffff;
  font-weight: normal;
  background-color:  #849d8f;
}

a{
  color: #ffffff;
  text-decoration: none;
}

h1{
  font-size: 35px;
}


.wrapped {
  padding-top: 10px;
  padding-bottom: 30px;
  min-width: 1200px;
}

.contain {
  padding: 0 26px;
  width: 1146px;
  margin: 0 auto;
}

.top_pic_logo{
  float: left;
  width: 154px;
}

.top_menu{
  float: left;
  margin-left: 23px;
  margin-top: 19px;
  max-width: 650px;
}

.top_user_block{
  float:  right;
  margin-top: 15px;
  width:  267px;
}

.nav_menu,
.user_menu,
.crumbs,
.footer_social_btn,
.footer_contacts_btn,
.shop_info_list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0
}

.user_menu{
  float: right;
}

.nav_menu li{
  display: inline-block;
  margin-right: 28px;
}

.nav_menu a{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.user_menu li{
  display: inline-block;
  margin-right: 12px;
  font-size: 16px;
}

.work_time{
  float: right;
  min-height: 40px;
  text-align: right;
  margin-top: -7px;
}

.work_tel{
  font-size: 22px;
}

.crumbs ul{
  padding-left: 0px;
}

.crumbs li{
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
}

.catalog{
  margin-top: -10px; 
}

.catalog h1{
  font-size: 35px;
}

.vidget_text{
  margin-bottom: 40px;
  padding-top: 210px;
  text-align: center;
  min-height: 280px;
}

.vidget_text p{
  font-size: 60px;
  line-height: 60px;
}

.vidget_text a{
  display: inline;
  padding-top: 1px;
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
}

.widget_nav{
  bottom: 23px;
  left: 0;
}

.bannered{
  margin-bottom: 20px;
}

.banner{
  padding: 0 20px 0;
  width: 520px;
  border-radius: 15px;
}

.b_left{
  float: left;
  background-color: #60031c;
  min-height: 220px;
}

.b_right{
  float: right;
  background-color: #0c0300;
  min-height: 220px;
}

.b_news{
  float: left;
  background-color: #ffffff;
  color: #323232;
  padding-top: 23px;
  min-height: 170px;
}

.b_send{
  float: right;
  background-color: #ffffff;
  color: #323232;
  min-height: 193px;
}

.ad{
  font-size: 18px;
}

.ad h2{
  font-size: 35px;
}

.gallery{
  margin-bottom: 38px;
}

.gallery_item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 5px 0;
  width: 267px;
}

.gallery_item:nth-child(4n){
  margin-right: 0;
  padding-right: 0;
}

.shop_info{
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 24px;
  background-color: #ebdec2;
  width: 1100px;
  color: #323232;
}

.shop_info_head{
  font-size: 24px;
}

.shop_info_list{
  margin-left: -20px;
}
.shop_info_item{
  display:inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 450px;
  margin-left: 20px;
  padding-left: 47px;
  margin-bottom: 20px;
}


.gallery_desc{
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: center;
}

.b_news h2{
  font-size: 16px;
}

.b_news a{
  font-size: 24px;
  color: #323232;
}

.map{
  box-sizing: border-box;
  margin-top: 40px;
  min-height: 430px;
  width: 
  background: url(../img/map.jpg);
}

.filter{
  padding-top: 5px;
  min-height:  75px;
}

.annons{
  margin-bottom: 7px;
  padding: 0 0 0 16px;
  line-height: 18px;
  font-size: 14px;
}

.filter_view,
.user_menu li{
  padding-left: 15px;
  height: 34px;
  background: #a9bab0;
  border-color: #a9bab0;
  border-radius: 17px;
}

.ice_select{
 display: inline-block;
 margin-right: 10px;
 margin-bottom: 19px;
 vertical-align: top;
 min-width: 194px;
}

.ice_type{
  padding-left: 11px;
  width: 130%;
  height: 35px;
  line-height: 35px;
  background: #a6b8ae;
  border-style: none;
}

.ice_price{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 19px;
  vertical-align: top;
  min-width:  220px;
}

.fatness{
  display: inline-block;
  margin-bottom: 19px;
  vertical-align: top;
  min-width:  410px;
}

.filler{
  display: inline-block;
  margin-bottom: 19px;
  vertical-align: top;
  min-width:  700px;
}

.fatness_change,
.filler_check,
.frm_btn{
  display: inline-block;
}


.footer_info{
  padding-top: 35px;
} 

.footer_social{
  float: left;
  width: 380px;
  margin: 0 16px 0 0;
}

.footer_contacts{
  float: left;
  padding-top: 5px;
  width: 330px;
}

.footer_cr{
  float: right;
  padding-top: 30px;
  min-width: 190px;
}

.cont_btn{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.social_btn{
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  font-size: 13px;
}


.filter_button{
  margin-top: 25px;
  margin-left: 25px;
}

.switch_button{
  float: right;
  margin-left: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

