@font-face {
  font-family: "roboto";
  src:
      local("Roboto Regular"),
      local("Roboto-Regular"),
      url("fonts/roboto.woff") format("woff");
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: normal;
  background-color:  #849d8f;
}

a{
  color: #ffffff;
  text-decoration: none;
}

h1{
  font-size: 35px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapped {
  padding-top: 10px;
  padding-bottom: 30px;
  min-width: 1200px;
}

.contain {
  margin: 0 auto;
  padding: 0 26px;
  width: 1146px;
}

.pic_logo{
  float: left;
  width: 154px;
  height: 64px;
}

.top_menu{
    float: left;
    margin-left: 10px;
    max-width: 650px;
}

/*=============================================*/
/*================ Навигация ==================*/
/*=============================================*/
.nav_menu,
.sub_nav_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.nav_menu_item {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.nav_menu_item a {
    display: block;
    padding: 20px 14px;
}

.nav_menu_item span{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.nav_menu_item:hover span{
  border-bottom: none;
}

.nav_menu_item:hover > a {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border-radius: 16px;
  background-color: #ffffff;
  color: #333333;
}

.sub_nav_menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 52px;
  left: -4px;
  margin: 0;
  padding: 0;
  width: 142px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub_nav_menumenu ul {
  list-style: none;
}

.sub_nav_menu li {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
}

.sub_nav_menu a {
  margin: 0;
  padding: 10px 20px;
  color: #343434;
}

.nav_menu_item:hover .sub_nav_menu {
  display: block;
}


.sub_nav_menu li:first-child{
  font-weight: bold;
  /*==== Тут должна быть декоративная черточка ===*/
 } 

.sub_nav_menu li:hover > a {
  background-color: #fbded7;
 /*==== У крайних пунктов меню меняются уголки. Как их скруглить? ===*/ 
}

/*=======================================*/
/*===== Пользовательские приблуды =======*/
/*=======================================*/

.top_user_block{
  float: right;
  font-size: 0;
}

.user_menu{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user_menu > li {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
  }
.user_menu a {
    display: block;
    padding: 20px 14px;
}

.user_menu .top_search_btn{
    background-color: #a1b4a9;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 16px;
}